.genericButton {
    background-color: #FF214F;
    border: none;
    outline: none;
    padding: 8px 15px;
    color: white;
    border-radius: .75rem;
    cursor: pointer;
    transition: all .2s;
    border: .1rem solid #FF214F;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    max-width: 90vw;
}

.genericButton:hover {
    background-color: #ffffff;
    color: black;
}